<div class="container">
    <div class="row">
        <div class="col-5 text-white fw-bold">
            <h4>Desde 80.000</h4>
            <hr>
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Entrada</label>
                            <input type="date" class="form-control">
                          </div>
                    </div>
                    <div class="col-6">
                        <label for="exampleInputPassword1" class="form-label">Salida</label>
                            <input type="date" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Adultos</label>
                            <input type="number" class="form-control" placeholder="1">
                          </div>
                    </div>
                    <div class="col-6">
                        <label for="exampleInputPassword1" class="form-label">Niños</label>
                            <input type="number" class="form-control" placeholder="1">
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary w-100">Reservar</button>
            </form>
        </div>
    </div>
</div>
